body {
  background: #eee;
}

form {
  width: 80%;
  margin: 0 auto;
  background: #FFF;
  padding: 15px;
}

form input[type="submit"] {
  margin: 10px;
  padding: 5px;
  width: 200px;
}

.group-form {
  width: 100%;
}

.group-form label, .group-form input[type="text"], .group-form span.msg {
  width: 100%;
  margin: 5px 0 0 0;
}

.group-form input {
  margin: 5px 0 0 0;
}

.group-form input {
  border: none;
  border-bottom: black solid 1px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.group-form input:focus {
  border: none;
  background: #eee;
  color: black;
}

.group-form span.msg {
  width: 100%;
  display: inline-block;
  background: white;
  color: white;
  padding: 5px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.group-form span.msg.error {
  background: tomato;
  border-right: #e02200 solid 2px;
  border-bottom: #e02200 solid 2px;
  border-left: #e02200 solid 2px;
}

.group-form span.msg.correct {
  border-right: #00664E solid 2px;
  border-bottom: #00664E solid 2px;
  border-left: #00664E solid 2px;
  background: #009975;
}
